.card_back {
  background-color: #002f80;
  transform: translateY(40px);
  height: 100px;
}

.continue_btn {
  background-color: #0755db;
  height: 60px;
  padding: 20px;
  border-radius: 2.5rem;
}

.continue_btn:hover {
  background-color: #002f80;
}
.react__select {
}
.datetime {
  .MuiPopover-root > * {
    overflow: hidden;
    border-radius: 0 0 0 10px !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
  left: -100px;

  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 5px;
  left: -100px;
}

.datetime > * {
  transition: none !important;
}

.menuitem {
  height: 50px;
}

.year {
  overflow: hidden;
  input {
    height: max-content;
  }
  div {
    border-radius: 1rem;
  }
}
.menuitem:hover {
  background-color: #d3e3fe;
}

@media only screen and (max-width: 1024px) {
  .vertical_progress {
    display: none;
  }
  .horizontal_progress {
    display: block;
  }
  .gridmid {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .vertical_progress {
    display: flex;
  }
  .horizontal_progress {
    display: none;
  }
}

.rad {
  svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}
.sml {
  svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}

.redalert {
  background-color: rgb(242, 235, 244);
  color: #672873;
}

.chk {
  span {
    color: white;
  }
}

.radiotrans:hover {
  .rad > * {
    stroke: blue;
    stroke-width: 4;
    border: none !important;
  }
  .error > * {
    stroke: red !important;
    stroke-width: 4;
    border: none !important;
  }
}

.radiotranserr:hover {
  .rad > * {
    stroke: red;
    stroke-width: 4;
    border: none !important;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fnone {
  fieldset {
    border: none !important;
  }
  input {
    border: none !important;
  }
}
