.layout {
  aside {
    min-width: 240px !important;
  }
  .sidebar_menu {
    svg {
      font-size: 16px;
      color: #7081b9;
    }
  }
  .sidebar {
    width: 0px !important;
    flex: 0 0 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
  }
  .sidebar-logo {
    background-image: url(../assets/images/logo-original-200.png);
    background-repeat: no-repeat;
    background-position: 60%;
    height: 50px;
    margin-top: 7px;
  }
  .ant-menu:hover * {
    background-color: white !important;
  }
  .ant-menu-submenu-title:hover * {
    color: #7081b9 !important;
  }
  .ant-menu-inline {
    background-color: unset !important;
  }

  .ant-menu-item-selected {
    color: #1761fd !important;
    background-color: unset !important;
    .dot {
      border: 1px solid #7081b9;
    }
  }
  .ant-menu-submenu-title {
    padding-left: 10px !important;
    .ant-menu-item:hover * {
      color: #7081b9 !important;
    }
  }
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  height: 100vh;
  transition: color 0.3s;
}

.trigger:hover {
  color: lightgray;
}

.logo {
  height: 32px;
  margin: 16px;
  width: 90%;
  background: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 600px) {
  .aside {
    width: 0%;
    background-color: lightgray;
  }
}
