.fade-enter .btn {
  opacity: 0 !important;
  transform: translateX(-100%) !important;
}

.fade-enter-active .btn {
  opacity: 1 !important;
  transform: translateX(0%) !important;
}

.fade-exit .btn {
  opacity: 1 !important;
  transform: translateX(0%) !important;
}

.fade-exit-active .btn {
  opacity: 0 !important;
  transform: translateX(-100%) !important;
}
.fade-enter-active .btn,
.fade-exit-active .btn {
  transition: opacity 500ms, transform 500ms !important;
}
