.newtask:hover {
  color: white;
  background-color: blue;
}
.fa-facebook,
.fa-google-plus,
.fa-twitter::before {
  color: white;
}

.trans-0 {
  transform: translateX(0%);
}

.trans-200 {
  transform: translateX(-200%);
}

.enter {
  animation-direction: normal;
  transform: translateX(0%);
  animation-timing-function: ease;
  animation: enteranim 1s;
  animation-duration: 1s;
}

.exit {
  transform: translateX(-200%);
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation: exitanim 1s;
  animation-duration: 1s;
}

@keyframes enteranim {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes exitanim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

.ant-dropdown-menu-item {
  padding: 0%;
}

.sidebar-logo {
  background-image: url(./assets/images/logo-original-200.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
