@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../src/styles/settings/variable.scss";
@import "../src/styles/settings/variable.scss";

body *:not(a, i) {
  margin: 0;
  font-family: "Titillium Web", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#global-loader {
  position: fixed;
  z-index: 50000;
  background: rgb(255, 255, 255);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.loader-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 43%;
  left: 0;
  margin: 0 auto;
  text-align: center;
}
